<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CRUD Flask SQLAlchemy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>

    <header>
        <h1>Gestión de Proyectos de Ciencia de Datos</h1>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('nuevo') }}">Nuevo proyecto</a>
        </nav>
    </header>

    <main>
        {% block contenido %}
        {% endblock %}
    </main>

</body>
</html>--